div.up-incoming {
	animation-delay: 0.5s;
	animation-duration: 0.5s;
}
div.left-incoming-1 {
	animation-delay: 0.5s;
}
div.left-incoming-2 {
	animation-delay: 1s;
}	
div.left-incoming-3 {
	animation-delay: 1.5s;
}	
div.right-incoming-1 {
	animation-delay: 0.5s;	
}
div.right-incoming-2 {
	animation-delay: 1s;		
}
div.right-incoming-3 {
	animation-delay: 1.5s;
}
h1 {
	font-size: 4em;
	
}
p {
	text-align: justify;
}
.text-center {
	text-align: center;
}
body {
    background-color: black;
	background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .09) 25%, rgba(255, 255, 255, .09) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .09) 75%, rgba(255, 255, 255, .09) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .09) 25%, rgba(255, 255, 255, .09) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .09) 75%, rgba(255, 255, 255, .09) 76%, transparent 77%, transparent);
	height: 100%;
	background-size:50px 50px;
}
.button {
	text-align: center;
}
.register {
	position: absolute;
}